*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    font-size:larger;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.navbar{
    background-color: rgb(194, 194, 194);
    font-family:Calibri;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size:35px;
    font-weight: 600;
    color:white;
}
.navel a{
    
    padding:5px;
}